*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin-top: 100px;
    height: 50vh;
    width: 100vw;
}
.main{
    background-color: green;
    width: 90%;
    height: 90%;
}